$icomoon-font-family: 'Bhcd-icons' !default;
$icomoon-font-path: '~@/assets/scss/fonts/' !default;

$bhcd-icon-activity: '\e900';
$bhcd-icon-alert-circle: '\e901';
$bhcd-icon-alert-triangle: '\e902';
$bhcd-icon-archive: '\e903';
$bhcd-icon-arrow-back: '\e904';
$bhcd-icon-arrow-circle-down: '\e905';
$bhcd-icon-arrow-circle-left: '\e906';
$bhcd-icon-arrow-circle-right: '\e907';
$bhcd-icon-arrow-circle-up: '\e908';
$bhcd-icon-arrow-down: '\e909';
$bhcd-icon-arrow-downward: '\e90a';
$bhcd-icon-arrow-forward: '\e90b';
$bhcd-icon-arrow-ios-back: '\e910';
$bhcd-icon-arrow-ios-downward: '\e911';
$bhcd-icon-arrow-ios-forward: '\e912';
$bhcd-icon-arrow-ios-upward: '\e913';
$bhcd-icon-arrow-left: '\e914';
$bhcd-icon-arrow-right: '\e915';
$bhcd-icon-arrow-up: '\e916';
$bhcd-icon-arrow-upward: '\e917';
$bhcd-icon-arrowhead-down: '\e90c';
$bhcd-icon-arrowhead-left: '\e90d';
$bhcd-icon-arrowhead-right: '\e90e';
$bhcd-icon-arrowhead-up: '\e90f';
$bhcd-icon-at: '\e918';
$bhcd-icon-attach: '\e919';
$bhcd-icon-attach-alt: '\e91a';
$bhcd-icon-award: '\e91b';
$bhcd-icon-backspace: '\e91c';
$bhcd-icon-bar-chart: '\e91d';
$bhcd-icon-bar-chart-alt: '\e91e';
$bhcd-icon-battery: '\e91f';
$bhcd-icon-bell: '\e920';
$bhcd-icon-bell-off: '\e921';
$bhcd-icon-bluetooth: '\e922';
$bhcd-icon-book: '\e923';
$bhcd-icon-book-open: '\e925';
$bhcd-icon-bookmark: '\e924';
$bhcd-icon-briefcase: '\e926';
$bhcd-icon-browser: '\e927';
$bhcd-icon-brush: '\e928';
$bhcd-icon-bulb: '\e929';
$bhcd-icon-calendar: '\e92a';
$bhcd-icon-camera: '\e92b';
$bhcd-icon-car: '\e92c';
$bhcd-icon-cast: '\e92d';
$bhcd-icon-charging: '\e92e';
$bhcd-icon-checkmark: '\e92f';
$bhcd-icon-checkmark-circle: '\e930';
$bhcd-icon-checkmark-square: '\e931';
$bhcd-icon-checkmark-square-alt: '\e932';
$bhcd-icon-chevron-down: '\e933';
$bhcd-icon-chevron-left: '\e934';
$bhcd-icon-chevron-right: '\e935';
$bhcd-icon-chevron-up: '\e936';
$bhcd-icon-clipboard: '\e937';
$bhcd-icon-clock: '\e938';
$bhcd-icon-close: '\e939';
$bhcd-icon-close-circle: '\e93a';
$bhcd-icon-close-square: '\e93b';
$bhcd-icon-cloud-download: '\e93c';
$bhcd-icon-cloud-upload: '\e93d';
$bhcd-icon-code: '\e93e';
$bhcd-icon-code-download: '\e93f';
$bhcd-icon-collapse: '\e940';
$bhcd-icon-color-palette: '\e941';
$bhcd-icon-color-picker: '\e942';
$bhcd-icon-column-chooser: '\e943';
$bhcd-icon-compass: '\e944';
$bhcd-icon-copy: '\e945';
$bhcd-icon-corner-down-left: '\e946';
$bhcd-icon-corner-down-right: '\e947';
$bhcd-icon-corner-left-down: '\e948';
$bhcd-icon-corner-left-up: '\e949';
$bhcd-icon-corner-right-down: '\e94a';
$bhcd-icon-corner-right-up: '\e94b';
$bhcd-icon-corner-up-left: '\e94c';
$bhcd-icon-corner-up-right: '\e94d';
$bhcd-icon-credit-card: '\e94e';
$bhcd-icon-crop: '\e94f';
$bhcd-icon-cube: '\e950';
$bhcd-icon-data: '\e951';
$bhcd-icon-diagonal-arrow-left-down: '\e952';
$bhcd-icon-diagonal-arrow-left-up: '\e953';
$bhcd-icon-diagonal-arrow-right-down: '\e954';
$bhcd-icon-diagonal-arrow-right-up: '\e955';
$bhcd-icon-done-all: '\e956';
$bhcd-icon-download: '\e957';
$bhcd-icon-droplet: '\e958';
$bhcd-icon-droplet-off: '\e959';
$bhcd-icon-edit: '\e95a';
$bhcd-icon-edit-alt: '\e95b';
$bhcd-icon-envelope: '\e95c';
$bhcd-icon-expand: '\e95d';
$bhcd-icon-external-link: '\e95e';
$bhcd-icon-eye: '\e95f';
$bhcd-icon-eye-off: '\e960';
$bhcd-icon-file: '\e961';
$bhcd-icon-file-add: '\e962';
$bhcd-icon-file-excel: '\e963';
$bhcd-icon-file-remove: '\e964';
$bhcd-icon-file-text: '\e965';
$bhcd-icon-film: '\e966';
$bhcd-icon-flag: '\e967';
$bhcd-icon-flash: '\e968';
$bhcd-icon-flash-off: '\e969';
$bhcd-icon-flip: '\e96a';
$bhcd-icon-flip-alt: '\e96b';
$bhcd-icon-folder: '\e96c';
$bhcd-icon-folder-add: '\e96d';
$bhcd-icon-folder-remove: '\e96e';
$bhcd-icon-funnel: '\e96f';
$bhcd-icon-gif: '\e970';
$bhcd-icon-globe: '\e971';
$bhcd-icon-globe-alt: '\e972';
$bhcd-icon-grid: '\e973';
$bhcd-icon-hard-drive: '\e974';
$bhcd-icon-hash: '\e975';
$bhcd-icon-headphones: '\e976';
$bhcd-icon-heart: '\e977';
$bhcd-icon-home: '\e978';
$bhcd-icon-image: '\e979';
$bhcd-icon-inbox: '\e97a';
$bhcd-icon-info: '\e97b';
$bhcd-icon-keypad: '\e97c';
$bhcd-icon-layers: '\e97d';
$bhcd-icon-layout: '\e97e';
$bhcd-icon-link: '\e97f';
$bhcd-icon-link-alt: '\e980';
$bhcd-icon-list: '\e981';
$bhcd-icon-loader: '\e982';
$bhcd-icon-lock: '\e983';
$bhcd-icon-log-in: '\e984';
$bhcd-icon-log-out: '\e985';
$bhcd-icon-map: '\e986';
$bhcd-icon-maximize: '\e987';
$bhcd-icon-menu: '\e988';
$bhcd-icon-message-circle: '\e989';
$bhcd-icon-message-square: '\e98a';
$bhcd-icon-mic: '\e98b';
$bhcd-icon-mic-off: '\e98c';
$bhcd-icon-minimize: '\e98d';
$bhcd-icon-minus: '\e98e';
$bhcd-icon-minus-circle: '\e98f';
$bhcd-icon-minus-square: '\e990';
$bhcd-icon-monitor: '\e991';
$bhcd-icon-moon: '\e992';
$bhcd-icon-more-horizontal: '\e993';
$bhcd-icon-more-vertical: '\e994';
$bhcd-icon-move: '\e995';
$bhcd-icon-music: '\e996';
$bhcd-icon-navigation: '\e997';
$bhcd-icon-navigation-alt: '\e998';
$bhcd-icon-options: '\e999';
$bhcd-icon-options-alt: '\e99a';
$bhcd-icon-pantone: '\e99b';
$bhcd-icon-paper-plane: '\e99c';
$bhcd-icon-passcode: '\e99d';
$bhcd-icon-pause-circle: '\e99e';
$bhcd-icon-pencil: '\e99f';
$bhcd-icon-people: '\e9a0';
$bhcd-icon-percent: '\e9a1';
$bhcd-icon-person: '\e9a2';
$bhcd-icon-person-add: '\e9a3';
$bhcd-icon-person-delete: '\e9a4';
$bhcd-icon-person-done: '\e9a5';
$bhcd-icon-person-remove: '\e9a6';
$bhcd-icon-phone: '\e9a7';
$bhcd-icon-phone-call: '\e9a8';
$bhcd-icon-phone-missed: '\e9a9';
$bhcd-icon-phone-off: '\e9aa';
$bhcd-icon-pie-chart: '\e9ab';
$bhcd-icon-pin: '\e9ac';
$bhcd-icon-play-circle: '\e9ad';
$bhcd-icon-plus: '\e9ae';
$bhcd-icon-plus-circle: '\e9af';
$bhcd-icon-plus-square: '\e9b0';
$bhcd-icon-power: '\e9b1';
$bhcd-icon-preferences: '\e9b2';
$bhcd-icon-pricetags: '\e9b3';
$bhcd-icon-printer: '\e9b4';
$bhcd-icon-question-mark: '\e9b5';
$bhcd-icon-radio: '\e9b6';
$bhcd-icon-radio-button-off: '\e9b7';
$bhcd-icon-radio-button-on: '\e9b8';
$bhcd-icon-recording: '\e9b9';
$bhcd-icon-refresh: '\e9ba';
$bhcd-icon-repeat: '\e9bb';
$bhcd-icon-report: '\e9bc';
$bhcd-icon-rewind-left: '\e9bd';
$bhcd-icon-rewind-right: '\e9be';
$bhcd-icon-save: '\e9bf';
$bhcd-icon-scissors: '\e9c0';
$bhcd-icon-search: '\e9c1';
$bhcd-icon-settings: '\e9c2';
$bhcd-icon-settings-alt: '\e9c3';
$bhcd-icon-shake: '\e9c4';
$bhcd-icon-share: '\e9c5';
$bhcd-icon-shield: '\e9c6';
$bhcd-icon-shield-off: '\e9c7';
$bhcd-icon-ship: '\e9f0';
$bhcd-icon-shopping-bag: '\e9c8';
$bhcd-icon-shopping-cart: '\e9c9';
$bhcd-icon-shuffle: '\e9ca';
$bhcd-icon-shuffle-alt: '\e9cb';
$bhcd-icon-skip-back: '\e9cc';
$bhcd-icon-skip-forward: '\e9cd';
$bhcd-icon-slash: '\e9ce';
$bhcd-icon-smartphone: '\e9cf';
$bhcd-icon-smiling-face: '\e9d0';
$bhcd-icon-speaker: '\e9d1';
$bhcd-icon-square: '\e9d2';
$bhcd-icon-star: '\e9d3';
$bhcd-icon-stop-circle: '\e9d4';
$bhcd-icon-sun: '\e9d5';
$bhcd-icon-swap: '\e9d6';
$bhcd-icon-sync: '\e9d7';
$bhcd-icon-terminal-admin: '\e9f1';
$bhcd-icon-terminal-manager: '\e9f2';
$bhcd-icon-text: '\e9d8';
$bhcd-icon-thermometer: '\e9d9';
$bhcd-icon-thermometer-minus: '\e9da';
$bhcd-icon-thermometer-plus: '\e9db';
$bhcd-icon-time-truck: '\e9f3';
$bhcd-icon-toggle-left: '\e9dc';
$bhcd-icon-toggle-right: '\e9dd';
$bhcd-icon-transactions: '\e9de';
$bhcd-icon-trash: '\e9df';
$bhcd-icon-trending-down: '\e9e0';
$bhcd-icon-trending-up: '\e9e1';
$bhcd-icon-truck: '\e9e2';
$bhcd-icon-tv: '\e9e3';
$bhcd-icon-umbrella: '\e9e4';
$bhcd-icon-undo: '\e9e5';
$bhcd-icon-unlock: '\e9e6';
$bhcd-icon-upload: '\e9e7';
$bhcd-icon-video: '\e9e8';
$bhcd-icon-video-off: '\e9e9';
$bhcd-icon-volume-down: '\e9ea';
$bhcd-icon-volume-mute: '\e9eb';
$bhcd-icon-volume-off: '\e9ec';
$bhcd-icon-volume-up: '\e9ed';
$bhcd-icon-wifi: '\e9ee';
$bhcd-icon-wifi-off: '\e9ef';
