//Brand Colors
$color-main: #0099cb;
$color-main-dark: #09607d;
$color-main-light: #79cde8;
$color-main-lighter: #eaf3fb;

$color-brand-yellow: #e4aa20;
$color-brand-magenta: #f24a69;
$color-brand-purple: #3d62d9;
$color-brand-green: #24c0d3;
$color-brand-cyan: #65b9ec;

$color-brand-yellow-light: #eed291;
$color-brand-magenta-light: #eea2b0;
$color-brand-purple-light: #acafe5;
$color-brand-green-light: #8edfe9;
$color-brand-cyan-light: #92cbee;

//Grey Gradients
$color-black: #231f20;
$color-grey-800: #484848;
$color-grey-700: #676767;
$color-grey-600: #757575;
$color-grey-500: #adaeb0;
$color-grey-400: #c2c2c2;
$color-grey-300: #ecedf1;
$color-grey-200: #eaebf0;
$color-grey-100: #f6f7fb;

// White
$color-white-200: #f8f8f8;
$color-white-100: #f2f2f2;
$color-white: #ffffff;

// Danger

$color-danger-700: #bf2600;
$color-danger-500: #de350b;
$color-danger-300: #edaa9b;
$color-danger-200: #f9dcde;

// Warning

$color-warning-700: #ffab00;
$color-warning-500: #f3bd08;

// Info

$color-info-700: #0747a6;
$color-info-500: #0070d3;
$color-info-300: #94c2eb;
$color-info-200: #cde8fe;

// Success

$color-success-700: #0d724f;
$color-success-500: #149452;
$color-success-300: #9cd0b7;
$color-success-200: #cfeee1;

$box-shadow-default: rgba($color-grey-500, 0.4);
$box-shadow-main: rgba($color-main, 0.5);
